@import "../../styles/colors.css";
@import "../../styles/sizing.css";
@import "../../styles/shadow.css";

aside {
  height: 90vh;
  width: calc(5 * var(--sizing-padding));
  margin: calc(var(--sizing-padding) / 2) calc(var(--sizing-padding) / 4);
  padding: var(--sizing-padding);

  display: flex;
  flex-direction: column;
  gap: var(--sizing-gap);

  background-color: var(--color-background-elevated);
  box-shadow: var(--shadow);
  border-radius: 1rem;
}
