@import "../../styles/colors.css";
@import "../../styles/sizing.css";
@import "../../styles/shadow.css";

aside {
    height: 90vh;
    width: calc(5 * var(--sizing-padding));
    margin: calc(var(--sizing-padding) / 2) calc(var(--sizing-padding) / 4);
    padding: var(--sizing-padding);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--sizing-gap);

    background-color: var(--color-background-elevated);
    box-shadow: var(--shadow);
    border-radius: 1rem;
}

h2 {
    text-transform: uppercase;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: var(--sizing-gap);
}

.list {
    display: flex;
    flex-direction: column;
    gap: calc(var(--sizing-gap) / 4);
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;

    transition: 0.25s ease-in-out;
}

.list>span {
    font-size: 4rem;
}
