:root {
    --color-background: #fafaf9;
    --color-background-elevated: #f5f5f4;
    --color-background-hover: #e7e5e4;

    --color-foreground: #0c0a09;

    --color-main: #c2410c;
    --color-main-hover: #9a3412;
    --color-main-text: #ffffff;
}
