@import '../../styles/colors.css';
@import '../../styles/sizing.css';

header {
    width: 100%;
    margin: calc(var(--sizing-padding) / 2) calc(var(--sizing-padding) / 4);
    padding: var(--sizing-padding);


    display: flex;
    flex-direction: row;
    gap: 2vw;

    background-color: var(--color-background-elevated);
    box-shadow: var(--shadow);
    border-radius: 1rem;
}
