@import "../../styles/colors.css";
@import "../../styles/sizing.css";

header {
    width: 95%;
    margin: calc(var(--sizing-padding) / 2) calc(var(--sizing-padding) / 4);
    padding: var(--sizing-padding);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--sizing-gap);

    background-color: var(--color-background-elevated);
    box-shadow: var(--shadow);
    border-radius: 1rem;
}

label {
    display: block;

    font-weight: 500;
    font-size: 1.1rem
}

select {
    background-color: transparent;
    padding: 0.25rem;

    border: 1px solid var(--color-main);
    border-radius: 0.5rem;
}
